// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.info {
	margin: 15px 0 0 15px;
	font-size: 30px;
	float: left;
}

.logo {
	float: right;
	font-weight: 300;
	margin: 15px 15px 0 0;
	h1 {
		margin: 0;
		font-size: 40px;	
	}
}

body {
	background-color: #f5f5f5;
	font-family: 'Open Sans Condensed';
	text-transform: uppercase;
	color: gray;
}

.panel {
  width: 500px;
  height: 400px;
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -300px 0 0 -300px;
  text-align: center;
  /*background-color: lightgray;*/
  .image_set {
		img { margin-bottom: 20px; width: 250px; };
  }
  .value {
  	font-size: 46px;
  	margin-bottom: 20px;
  }
  .today {
		color: orange;
		font-size: 56px;
	}
	.tomorrow { color: lightgray; }
	h2 { font-size: 28px; margin: 0; }
	h2:nth-child(2) { margin-bottom: 20px; }
	h2:nth-child(3) { font-size: 20px; }
	.loading img {
		width: 150px;
	}
}

@media (max-width: 600px) {
	.clear { clear: both; }

	.panel {
		width: 200px;
		height: 400px;
		padding: 50px;
		margin: -400px 0 0 -150px;
		.image_set {
			img { width: 200px; margin-top: 30px; }
		}
	}
}

.aqi_list {
	li {
		display: inline-block;
		margin: 10px;
	}
}

/* ANIMATION */
.loading {
	-webkit-animation-name:loading;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	/*-webkit-animation-direction:alternate;*/
	-webkit-animation-timing-function:ease;
	
	-moz-animation-name:loading;
	-moz-animation-duration:2s;
	-moz-animation-iteration-count:infinite;
	/*-moz-animation-direction:alternate;*/
	-moz-animation-timing-function:ease;
}

@-webkit-keyframes loading {
	0% {-webkit-transform:translate(0, 0);}
	50% {-webkit-transform:translate(0, -10px);}
	100% {-webkit-transform:translate(0, 0);}
}
@-moz-keyframes loading {
	0% {-moz-transform:translate(0, 0);}
	50% {-moz-transform:translate(0, -10px);}
	100% {-moz-transform:translate(0, 0);}
}
